.imageFirst-true {
    margin-left: 150px;
}

.imageFirst-false {
    margin-right: 150px;
}

.line {
    height: 1px;
    background-color: #dddddd;
    width: 300px;
}

.case {
    color: #1a18f7;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.14;
}

.description {
    color: #272727;
    line-height: 1.25;
    font-size: 24px;
}

.bigCardContainer .title {
    color: #939393;
    line-height: 2;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}