.wrapper {
    width: 75vw;
    margin: 0 auto;
}

.testimonial {
    font-size: 36px;
    color: #272727;
    max-width: 50vw;
}

.testimonialSign {
    font-weight: bold;
    line-height: 2.31;
    color: #272727;
    text-transform: uppercase;
}