.cardImage {
    width: 30vw;
}

.url {
    color: #939393;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;
}

.title {
    font-size: 32px;
    color: #272727;
}

.case {
    color: #1a18f7;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.14;
}


/* 
.cardContainer {
    background: red;
} */