.ClientCardContainer {
    min-width: 250px;
    min-height: 125px;
    /* background-color: #f3f6f6; */
}

@media screen and (max-width: 425px) {
    .ClientCardContainer {
        min-width: 210px;
        min-height: 125px;
    }
}